{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){
 $("#username").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#usersTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
 });
});
</script>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <h2>Поиск пользователя</h2>
            <div class="form-group">
                <label for="username">Фильтр:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Введите имя или почту">
            </div>
        </div>
        <div class="col-md-8">
            <h2>Список пользователей</h2>
            <table class="table" id="usersTable">
                <thead>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Почта</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
