<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/c860e860c2.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i>  Главная</a>
				{% if current_user.is_authenticated %}
					{% if current_user.status == "admin" %}
						<a class="btn btn-warning" href="/admin/dashboard"><i class="fa-solid fa-user-shield"></i> Панель администратора</a>
					{% else %}
						<a class="btn btn-primary" href="/upload"><i class="fa-solid fa-file-arrow-up"></i> Загрузить отчёт</a>
					{% endif %}
				<div class="navbar-brand"><a href="{{ url_for('search_user', user_login=current_user.email) }}">{{current_user.name}}</a> | {{current_user.status}}   <a href="/logout" class="text-decoration-none text-reset"><i class="fa-solid fa-right-from-bracket"></i></a></div>
				{% else %}
					<p>
						<a class="btn btn-primary " href="/register">Зарегистрироваться</a>
						<a class="btn btn-success" href="/login">Войти</a>
					</p>
				{% endif %}				
			</nav>
		</header>

		<!-- Контейнер для вставки содержимого дочерних блоков -->
		<main role="main" class="container">
			{% block content %}{% endblock %}
		</main>
		
	</body>
</html>





