{% extends "base.html" %}

{% block content %}
        <h4>
            Добро пожаловать в нашу кибердружину! Мы рады видеть вас здесь, где волонтёры со всего мира объединяются для сдачи отчётов через нашу уникальную систему единого входа (SSO). Ваша работа и вклад в кибербезопасность неоценимы, и мы хотим сделать процесс сдачи отчётов максимально простым и эффективным.
            В нашей системе вы найдёте интуитивно понятный интерфейс, который позволит вам быстро и без лишних усилий представить свои отчёты. Мы стремимся создать среду, в которой каждый волонтёр может чувствовать себя ценным участником команды, а его труд и знания получают должное признание.
            Сдавайте отчёты с уверенностью, зная, что ваша работа помогает укрепить кибербезопасность нашего мира. Ваши отчёты играют ключевую роль в борьбе с киберугрозами, и каждый ваш вклад делает нас сильнее.
            Не забывайте, что вместе мы сильнее. Ваша поддержка и активность помогают нам улучшать нашу систему и делать её ещё лучше. Давайте вместе создадим безопасный цифровой мир для всех!
            Присоединяйтесь к нашей кибердружине сегодня и начните свой вклад в кибербезопасность. Ваш отчёт ждёт вас!
        </h4>
{% endblock %}
