{% extends "base.html" %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        {{form.csrf_token}}
        <p>
            <i class="fa-solid fa-envelope"></i>
            {{form.email.label}}<br>
            {{form.email(class="form-control", type="email")}}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">{{error}}</p>
            {% endfor %}
        </p>
        <p>
            <i class="fa-solid fa-key"></i>
            {{form.password.label}}<br>
            {{form.password(class="form-control", type="password")}}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">{{error}}</p>
            {% endfor %}
        </p>
        <p>
            <i class="fa-solid fa-key"></i>
            {{form.password_again.label}}<br>
            {{form.password_again(class="form-control", type="password")}}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">{{error}}</p>
            {% endfor %}
        </p>
        <p>
            <i class="fa-solid fa-user"></i>
            {{form.full_name.label}}<br>
            {% if form.full_name.choices %}
                {{form.full_name(class="form-select")}}<br>
            {% else %}
                Все студенты уже зарегистрированы<br>
            {% endif %}
            {% for error in form.full_name.errors %}
                <p class="alert alert-danger" role="alert">{{error}}</p>
            {% endfor %}
        </p>
        <p>
            <i class="fa-solid fa-address-card"></i>
            {{form.about.label}}<br>
            {{form.about(class="form-control")}}<br>
            {% for error in form.about.errors %}
                <p class="alert alert-danger" role="alert">{{error}}</p>
            {% endfor %}
        </p>
        {% if form.full_name.choices %}
            <p>{{form.submit(type="submit", class="btn btn-primary")}}</p>
        {% else %}
            Все студенты уже зарегистрированы, обратитесь к руководителю если вы уверены что должны зарегистрироваться в систему<br>
        {% endif %}
        {{message}}
    </form>
{% endblock %}
