{% extends "base.html" %}

{% block content %}
<h2>Отчет №{{ report.id }} от: {{ user.surname }} {{ user.name }} {{ user.patronymic }}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Статус</th>
        <th>Балл</th>
        <th>Ссылка на скачивание</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ date[0] }}
        </td>
        <td>
            {{ date[1] }}
        </td>
        <td>
            {{ report.status }}
        </td>
        <td>
            {{ report.points }}
        </td>
        <td>
            <a href="{{ url_for('uploaded_report', report_path=report.path) }}"><i
                    class="fa-solid fa-file-arrow-down"></i></a>
        </td>
        <td>
            <button id="btn_click">Выставить оценку</button>
            <script>
$('#btn_click').on('click', function() { window.location = '{{ path }}'; });  // не работает
            </script>
        </td>
    </tr>
    </tbody>
</table>
<form>
  <div>
      <input type="radio" id="status_ok" name="status"/>
      <label for="status_ok">Зачтено</label>
  </div>
    <div>
      <input type="radio" id="status_no" name="status"/>
      <label for="status_no">Не зачтено</label>
  </div>
</form>
<div>
    <input type="number" id="points" name="points"/>
</div>
<div class="form-group">
    <label for="text">Комментарий</label>
    <textarea class="form-control" id="text" rows="3" name="text"></textarea>
</div>
<div>
    <button type="submit" class="btn btn-primary">Выставить оценку</button>
</div>
{% endblock %}
