{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
      <div class="playable-buttons">
        <input id="reset" type="button" value="Сбросить" />
        <input id="save" type="button" value="Сохранить" />
        <input id="send" type="button" value="Отправить" />
      </div>
      <p>
      <form>
        <label>Ссылка:</label>
        <input type="text" id="link1">
        <input type="file" id="screenshot1" name="avatar" accept="image/png, image/jpeg" />
      </form>
  <script>
    console.log(document.querySelector('p').textContent);
  </script>
    {% endif %}
{% endblock %}
